# Table S3: List of all 35 ITS_LIVE maps

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.read_csv('../manifest_ITSLIVE.csv', dtype=str)
df.iloc[:, :4]

                     Label Start date  End date Duration (days)
0    LS8-20180304-20180405   20180304  20180405              32
1    LS8-20180405-20180421   20180405  20180421              16
2    LS8-20180421-20180523   20180421  20180523              32
3    LS8-20180523-20180608   20180523  20180608              16
4    LS8-20180412-20180428   20180412  20180428              16
5    LS8-20180428-20180802   20180428  20180802              96
6    LS8-20180802-20180818   20180802  20180818              16
7    LS8-20180818-20180903   20180818  20180903              16
8    LS8-20180903-20181005   20180903  20181005              32
9   Sen2-20180306-20180316   20180306  20180316              10
10  Sen2-20180316-20180515   20180316  20180515              60
11  Sen2-20180329-20180508   20180329  20180508              40
12  Sen2-20180508-20180518   20180508  20180518              10
13  Sen2-20180508-20180627   20180508  20180627              50
14  Sen2-20180515-20180619   20180515  20180619              35
15  Sen2-20180518-20180523   20180518  20180523               5
16  Sen2-20180627-20180722   20180627  20180722              25
17  Sen2-20180704-20180724   20180704  20180724              20
18  Sen2-20180724-20180729   20180724  20180729               5
19  Sen2-20180727-20180801   20180727  20180801               5
20  Sen2-20180304-20180314   20180304  20180314              10
21  Sen2-20180314-20180329   20180314  20180329              15
22  Sen2-20180523-20180612   20180523  20180612              20
23  Sen2-20180612-20180627   20180612  20180627              15
24  Sen2-20180619-20180704   20180619  20180704              15
25  Sen2-20180722-20180727   20180722  20180727               5
26  Sen2-20180729-20180818   20180729  20180818              20
27  Sen2-20180801-20180811   20180801  20180811              10
28  Sen2-20180811-20180831   20180811  20180831              20
29  Sen2-20180818-20180917   20180818  20180917              30
30  Sen2-20180831-20180910   20180831  20180910              10
31  Sen2-20180910-20180920   20180910  20180920              10
32  Sen2-20180917-20181002   20180917  20181002              15
33  Sen2-20180920-20180930   20180920  20180930              10
34  Sen2-20180930-20181005   20180930  20181005               5

## Abbreviations in Table S1

- LS8: Landsat 8
- Sen2: Sentinel-2

## Feature-tracking parameters of the ITS_LIVE velocity maps (same for all)

- Template size: varying (240-480 m)
- Pixel spacing: 120 m
- Prefilter: 5x5 Wallis operator
- Subpixel sampling: 16-node oversampling
- Processing software: autoRIFT